header { 
	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	color: #333;

	}
 
h1 { 
	background-color: #ffffff;
	border-color: #cccccc;
	padding: 20px;

 }


h2 {  }

#navigation { 

	float: left;

	 }


.container {
	width: 100%;
	margin: 0px;


	}

#main-bio {  }

#contact-info {  }
